# Importing libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Importing Data Frames

In [5]:
# Turning your project folder path into a string as prepared data.
path1 = r'/Users/elizabetenakamura/Documents/projects/python/data/prepared'

In [6]:
# Turning your project folder path into a string as visualization data.
path2 = r'Users/elizabetenakamura/Documents/projects/python/data/visualization'

In [ ]:
# Import and identify dataframes
df_excluded = pd.read_pickle(os.path.join(path1,'low_activity_excluded.pkl'))

In [7]:
# Import and identify dataframes
ords_prods_customers_merged = pd.read_pickle(os.path.join(path1,'ords_prods_customers_merged.pkl'))

In [ ]:
# Import and identify dataframes
df = pd.read_pickle(os.path.join(path1, 'orders_products_customers_departments.pkl'))

# Part 1

In [34]:
# Import and identify dataframes
dept = pd.read_csv(os.path.join(path1,'orders_wrangled.csv'))

In [9]:
# 3. Creating a regional segmentation of data.
ords_prods_customers_merged.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,marital_status,income,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day,busiest_period_of_days,merge_status
0,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,6184,Clementines,32,4,4.3,both,Normal days,Most orders,Most orders,both
1,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,38932,0% Greek Strained Yogurt,120,16,12.6,both,Normal days,Most orders,Most orders,both
2,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,38932,0% Greek Strained Yogurt,120,16,12.6,both,Normal days,Most orders,Most orders,both
3,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,6184,Clementines,32,4,4.3,both,Normal days,Most orders,Most orders,both
4,26711,Deborah,Esquivel,Female,Missouri,48,2017-01-01,3,married,165665,...,47406,Fuji Apples,24,4,7.1,both,Normal days,Most orders,Most orders,both

In [10]:
# Assigning Northeast Region.
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Maine', 'region'] = 'Northeast'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'New Hampshire', 'region'] = 'Northeast'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Vermont', 'region'] = 'Northeast'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Pennsylvania', 'region'] = 'Northeast'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Massachusetts', 'region'] = 'Northeast'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Rhode Island', 'region'] = 'Northeast'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Connecticut', 'region'] = 'Northeast'

In [14]:
# Assigning Midwest Region
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Wisconsin', 'region'] = 'Midwest'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Michigan', 'region'] = 'Midwest'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Illinois', 'region'] = 'Midwest'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Indiana', 'region'] = 'Midwest'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Ohio', 'region'] = 'Midwest'

In [29]:
# Assigning South Region
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Delaware', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Maryland', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'District of Columbia', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Virginia', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'West Virginia', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'North Carolina', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'South Carolina', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Georgia', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Florida', 'region'] = 'South'

In [ ]:
# Assigning South Region 2
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Kentucky', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Tennessee', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Mississippi', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Alabama', 'region'] = 'South'

In [ ]:
# Assigning South Region 3
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Oklahoma', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Texas', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Arkansas', 'region'] = 'South'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Louisiana', 'region'] = 'South'

In [ ]:
# Assigning West Region
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Idaho', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Montana', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Wyoming', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Nevada', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Utah', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Colorado', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Arizona', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'New Mexico', 'region'] = 'West'

In [ ]:
# Assigning West Region2
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Alaska', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Washington', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Oregon', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'California', 'region'] = 'West'
ords_prods_customers_merged.loc[ords_prods_customers_merged['state'] == 'Hawaii', 'region'] = 'West'

In [ ]:
ords_prods_customers_merged.head()

In [ ]:
# 3. Crossing the variable with the spending flag
crosstab = pd.crosstab(ords_prods_customers_merged['region'], ords_prods_customers_merged['spender_flag'], dropna = False)

In [ ]:
crosstab.to_clipboard()

In [ ]:
ords_prods_customers_merged.to_pickle(os.path.join(path1,'orders_products_customers.pkl'))

In [ ]:
# 4. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.
ords_prods_customers_merged.loc[ords_prods_customers_merged['max_order'] < 5, 'activity_flag'] = 'low-activity customer'
ords_prods_customers_merged.loc[ords_prods_customers_merged['max_order'] >= 5, 'activity_flag'] = 'high-activity customer'

In [ ]:
ords_prods_customers_merged['activity_flag'].value_counts(dropna = False)

In [ ]:
# Excluding low-activity customers from the dataframe
df_excluded = ords_prods_customers_merged[ords_prods_customers_merged['activity_flag'] != 'low-activity customer']

In [ ]:
# Exporting the new dataframe
df_excluded.to_pickle(os.path.join(path1,'low_activity_excluded.pkl'))

In [ ]:
# 5. Create an income group variable
df_excluded.loc[df_excluded['income'] <= 55000, 'income_group'] = 'low-income'
df_excluded.loc[(df_excluded['income'] > 55000) & (df_excluded['income'] <= 150000), 'income_group'] = 'middle-income'
df_excluded.loc[df_excluded['income'] > 150000, 'income_group'] = 'high-income'

In [ ]:
# 6. Creating a bar chart showing the distribution of income groups
income_group_counts = df_excluded['income_group'].value_counts(dropna=False)
income_group_distribution_bar = income_group_counts.plot.bar()  
plt.title('Distribution of Income Groups')
plt.xlabel('')
plt.ylabel('Count')
plt.show()

In [ ]:
# Exporting the bar chart
income_group_distribution_bar.figure.savefig(os.path.join(path2,'income_distribution_bar.png'))

In [ ]:
# Create an age group variable
df_excluded.loc[df_excluded['age'] <= 25, 'age_group'] = 'young adult'
df_excluded.loc[(df_excluded['age'] > 25) & (df_excluded['age'] <= 44), 'age_group'] = 'adult'
df_excluded.loc[(df_excluded['age'] > 44) & (df_excluded['age'] <= 64), 'age_group'] = 'middle-aged'
df_excluded.loc[df_excluded['age'] > 64, 'age_group'] = 'senior'

In [ ]:
# Check value counts for each age group
age_group_counts = df_excluded['age_group'].value_counts(dropna = False)
age_group_counts

In [ ]:
# Make a pie chart showing the distribution of age groups
age_group_distribution_pie = age_group_counts.plot.pie(autopct='%1.1f%%', labels= ['middle-aged: 45-64 years', 'adult: 26-44 years', 'senior: 65+ years', 'young adult: up to 25 years'], startangle=90, colors=['#ff9999','#66b3ff','#99ff99','#ffcc99'])
plt.ylabel('')  # Hide the y-label
plt.title('Distribution of Age Groups')
plt.show()

In [ ]:
# Exporting chart
age_group_distribution_pie.figure.savefig(os.path.join(path2,'age_group_distribution_pie.png'))

In [ ]:
# Creating a dependents flag
df_excluded.loc[df_excluded['n_dependants'] == 0, 'dependants_flag'] = 'no dependants'
df_excluded.loc[df_excluded['n_dependants'] >= 1, 'dependants_flag'] = 'has dependants'

In [ ]:
# Check value counts
dependant_counts = df_excluded['dependants_flag'].value_counts(dropna = False)
dependant_counts

In [ ]:
# Making a pie chart showing the percentage of dependants
dependants_pie = dependant_counts.plot.pie(autopct='%1.1f%%', labels= ['has dependants', 'no dependants'], startangle=90, colors=['#ff9999','#66b3ff'])
plt.ylabel('')  # Hide the y-label
plt.title('Percentage Having Dependants')
plt.show()

In [ ]:
# Exporting the new dataframe
df_excluded.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'low_activity_excluded.pkl'))

In [ ]:
list(df_excluded.columns.values)

In [ ]:
# Crosstab loyalty with age group
loyalty_age_cross = pd.crosstab(df_excluded['loyalty_flag'], df_excluded['age_group'], dropna = False)
loyalty_age_cross

In [ ]:
# Creating a bar chart
loyalty_age_bar = loyalty_age_cross.plot.bar()
plt.title('Loyalty by Age Group')
plt.xlabel('')
plt.ylabel('count')
plt.xticks(rotation=0)

In [ ]:
# Exporting the chart
loyalty_age_bar.figure.savefig(os.path.join(path2,'loyalty_age_group_bar.png'))

In [ ]:
# Crosstabing spending with age group
spending_age_cross = pd.crosstab(df_excluded['spender_flag'], df_excluded['age_group'], dropna = False)
spending_age_cross

In [ ]:
# Creating a bar chart
spending_age_bar = spending_age_cross.plot.bar()
plt.title('Spending by Age Group')
plt.xlabel('')
plt.ylabel('count')
plt.xticks(rotation=0)

In [ ]:
# Exporting the chart
spending_age_bar.figure.savefig(os.path.join(path2,'spending_age_group_bar.png'))

In [ ]:
df_excluded.loc[df_excluded['state'] == 'Pennsylvania', 'region'] = 'Northeast'

In [ ]:
# Crosstabing Region to spending flag
region_spending_cross = pd.crosstab(df_excluded['region'], df_excluded['spender_flag'], dropna = False)

In [ ]:
region_spending_cross

In [ ]:
# Creating bar chart
region_spending_bar = region_spending_cross.plot.bar()
plt.title('Spending by Region')
plt.xlabel('')
plt.ylabel('count')
plt.xticks(rotation=0

In [ ]:
# Exporting the chart
region_spending_bar.figure.savefig(os.path.join(path2,'region_spending_bar.png'))

In [36]:
dept

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,new_customer
0,0,0,2539329,1,prior,1,2,8,NaN,True
1,1,1,2398795,1,prior,2,3,7,15.0,False
2,2,2,473747,1,prior,3,3,12,21.0,False
3,3,3,2254736,1,prior,4,4,7,29.0,False
4,4,4,431534,1,prior,5,4,15,28.0,False
...,...,...,...,...,...,...,...,...,...,...
3421078,3421078,3421078,2266710,206209,prior,10,5,18,29.0,False
3421079,3421079,3421079,1854736,206209,prior,11,4,10,30.0,False
3421080,3421080,3421080,626363,206209,prior,12,1,12,18.0,False
3421081,3421081,3421081,2977660,206209,prior,13,1,12,7.0,False
3421082,3421082,3421082,272231,206209,train,14,6,14,30.0,False

In [ ]:
df_excluded.drop(columns = ['_merge','Unnamed: 0'])

In [ ]:
df_final_merged = df_excluded.merge(dept, on='department_id', indicator='created')

In [ ]:
# Exporting new dataframe with department merged 
df_final_merged.to_pickle(os.path.join(path1,'orders_products_customers_departments.pkl'))

In [ ]:
# Creating a bar chart frequency of orders vs department
depts_bar = df_final_merged['department'].value_counts(ascending=True).plot(kind='barh', color='blue', xlabel = 'Count', title='Products Ordered by Department')

In [ ]:
# Exporting bar chart
depts_bar.figure.savefig(os.path.join(path2, 'depts_bar.png'))

In [ ]:
# Crosstabing age group vs department
age_dept_cross = pd.crosstab(df_final_merged['age_group'], df_final_merged['department'], dropna = False)
age_dept_cross

In [ ]:
Creating a bar chart
age_dept_bar = age_dept_cross.plot(kind = 'barh', figsize=(14,10))
plt.title('Department Sales by Age Group')
plt.xlabel('products count')
plt.ylabel('age group')
# Move legend outside of plot
plt.legend(title='Department', bbox_to_anchor=(1.05, 1), loc='upper left', fontsize=12, title_fontsize=14)

In [ ]:
# Exporting the bar chart
age_dept_bar.figure.savefig(os.path.join(path2,'age_depts_bar.png'))

In [ ]:
# Crosstabing income group vs department
income_dept_cross = pd.crosstab(df_final_merged['income_group'], df_final_merged['department'], dropna = False)
income_dept_cross

In [ ]:
# Creating a bar chart
income_dept_bar = income_dept_cross.plot(kind = 'barh', figsize=(14,10))
plt.title('Department Sales by Income Group')
plt.xlabel('products count')
plt.ylabel('income group')
# Moving the legend outside of the plot
plt.legend(title='Department', bbox_to_anchor=(1.05, 1), loc='upper left', fontsize=12, title_fontsize=14)

In [ ]:
# Exporting the bar chart
income_dept_bar.figure.savefig(os.path.join(path2,'income_depts_bar.png'))

In [ ]:
# 7. Aggregate the max, mean, and min variables on a customer-profile level for usage frequency and expenditure.
customer_profile = df_final_merged.groupby(['user_id', 'gender', 'state', 'region', 'n_dependants', 'fam_status', 'age_group', 'order_number', 'orders_day_of_week', 'order_hour_of_day', 'loyalty_flag', 'customer_frequency', 'dependants_flag', 'income_group', 'spender_flag'])['prices'].sum().reset_index()

In [ ]:
customer_profile.head()

In [ ]:
# Aggregating variables for customer profiles for expenditure
customer_agg = customer_profile.groupby('user_id').agg({'order_number': ['max', 'min', 'mean'], 'prices': ['max', 'min', 'mean']})

In [ ]:
customer_agg

In [ ]:
# Aggregating variables for customer profiles for usage frequency
freq_agg = df_excluded.groupby('user_id').agg({'order_number': ['max', 'min', 'mean'], 'days_since_prior_order': ['max', 'min', 'mean']})

In [ ]:
freq_agg

In [ ]:
# 8. Compare your customer profiles with regions and departments
region_dept_cross = pd.crosstab(df_final_merged['region'], df_final_merged['department'], dropna = False)
region_dept_cross

In [ ]:
# Creating a bar chart
region_dept_bar = region_dept_cross.plot(kind = 'barh', figsize=(14,10))
plt.title('Department Sales by Region')
plt.xlabel('products count')
plt.ylabel('region')
# Move legend outside of plot
plt.legend(title='Department', bbox_to_anchor=(1.05, 1), loc='upper left', fontsize=12, title_fontsize=14)

In [ ]:
# Exporting the bar chart
region_dept_bar.figure.savefig(os.path.join(path2,'region_depts_bar.png'))

In [ ]:
# Exporting the bar chart orders by day of week
orders_dow_bar = df['orders_day_of_week'].value_counts().sort_index().plot.bar(color = 'blue')
orders_dow_bar.set_title('Orders by Day of Week')
orders_dow_bar.set_xticklabels(['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'], rotation=0)
orders_dow_bar.set_xlabel("")

In [ ]:
# Exporting the bar chart
orders_dow_bar.figure.savefig(os.path.join(path2,'orders_dow_bar.png'))

In [ ]:
# Histogram of hours of the day
histogr_of_day = df['order_hour_of_day'].plot.hist(bins = 24)
plt.title('Orders by Hour of Day')
plt.xlabel('Hour of Day (24 hr clock)')

In [ ]:
# Exporting the histogram
histogr_of_day.figure.savefig(os.path.join(path2,'histogr_of_day.png'))

In [ ]:
# Crosstabing loyalty with age group
loyalty_income_cross = pd.crosstab(df['loyalty_flag'], df['income_group'], dropna = False)
loyalty_income_cross

In [ ]:
# Creating the bar chart
loyalty_income_bar = loyalty_income_cross.plot.bar()
plt.title('Loyalty by Income Group')
plt.xlabel('')
plt.ylabel('count')
plt.xticks(rotation=0)

In [ ]:
# Exporting the chart
loyalty_income_bar.figure.savefig(os.path.join(path2, 'loyalty_income_group_bar.png'))

In [ ]:
# Creating the bar chart
loyalty_spender_bar = loyalty_spender_cross.plot.bar()
plt.title('Loyalty by Spender flag')
plt.xlabel('')
plt.ylabel('count')
plt.xticks(rotation=0)

In [ ]:
# Exporting the chart
loyalty_spender_bar.figure.savefig(os.path.join(path2, 'loyalty_spender_bar.png'))

In [ ]:
# Crosstabing loyalty with family status
loyalty_fam_cross = pd.crosstab(df['loyalty_flag'], df['fam_status'], dropna = False)
loyalty_fam_cross

In [ ]:
# Creating the bar chart
loyalty_fam_bar = loyalty_fam_cross.plot.bar()
plt.title('Loyalty by Family Status')
plt.xlabel('')
plt.ylabel('count')
plt.xticks(rotation=0)

In [ ]:
# Exporting the chart
loyalty_fam_bar.figure.savefig(os.path.join(path2, 'loyalty_fam_bar.png'))

In [ ]:
# Crosstabing loyalty with dependants
loyalty_depend_cross = pd.crosstab(df['loyalty_flag'], df['dependants_flag'], dropna = False)
loyalty_depend_cross

In [ ]:
# Creating the bar chart
loyalty_depend_bar = loyalty_depend_cross.plot.bar()
plt.title('Loyalty by Dependants Status')
plt.xlabel('')
plt.ylabel('count')
plt.xticks(rotation=0)

In [ ]:
# Checking value counts
fam_status = df['fam_status'].value_counts(dropna = False)
fam_status

In [ ]:
# Creating a pie chart showing the distribution of family status
fam_status_distribution_pie = fam_status.plot.pie(autopct='%1.1f%%', labels= ['married', 'single', 'divorced/widowed', 'living with parents and siblings'], startangle=90, colors=['#ff9999','#66b3ff','#99ff99','#ffcc99'])
plt.ylabel('')  # Hiding the y-label
plt.title('Distribution of Family Status')
plt.show()

In [ ]:
# Export the chart
fam_status_distribution_pie.figure.savefig(os.path.join(path2, 'fam_status_bar.png'))