# Importing libraries

In [19]:
# Importing libraries
import pandas as pd
import numpy as ny
import os

In [36]:
# Turning your project folder path into a string as original data.
path = r'/Users/elizabetenakamura/Documents/projects/python/data/original'

In [37]:
# Turning your project folder path into a string as prepared data.
path1 = r'/Users/elizabetenakamura/Documents/projects/python/data/prepared'

# Importing Data Frames

In [38]:
# Importing products_checked.csv
df_prods = pd.read_csv(os.path.join(path1, 'products_checked.csv'), index_col = False)

In [39]:
# Importing orders.csv
df_ords = pd.read_csv(os.path.join(path1, 'orders_wrangled.csv'), index_col = False)

In [42]:
# Importing orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, 'orders_products_prior.csv'), index_col = False)

# Information about the Data Frames

In [43]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [44]:
df_ords_prior.shape

(32434489, 4)

In [45]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [46]:
df_ords.shape

(3421083, 8)

# Merging orders_wrangled with order_products_prior

In [47]:
# Inner merge data frame.
df_merge_large = df_ords.merge(df_ords_prior, on = ['order_id'] , how = 'inner', indicator = True)

In [48]:
# Frequency of each distinct row in the data frame.
df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [51]:
# Export data as pickle
df_merge_large.to_pickle(os.path.join(path1, 'orders_products_combined.pkl'))