# 1. Importing libraries

In [25]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [26]:
# Turning your project folder path into a string as prepared data.
path1 = r'/Users/elizabetenakamura/Documents/projects/python/data/prepared'

# Importing Data Frames

In [27]:
# Import and identify dataframes
ords_prods_merge = pd.read_pickle(os.path.join(path1,'ords_prods_merged_derived.pkl'))

In [28]:
# Create a subset of 1 million rows.
df = ords_prods_merge[:1000000]

In [29]:
df.shape

(1000000, 24)

In [30]:
df.head(10)

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,...,Unnamed: 0.1_y,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day,busiest_period_of_days
0,0,0,2539329,1,prior,1,2,8,NaN,True,...,192,195,Soda,77,7,9.0,both,Normal days,Average orders,Average orders
1,0,0,2539329,1,prior,1,2,8,NaN,True,...,14069,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Normal days,Average orders,Average orders
2,0,0,2539329,1,prior,1,2,8,NaN,True,...,12412,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders
3,0,0,2539329,1,prior,1,2,8,NaN,True,...,26073,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders
4,0,0,2539329,1,prior,1,2,8,NaN,True,...,26390,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Normal days,Average orders,Average orders
5,1,1,2398795,1,prior,2,3,7,15.0,False,...,192,195,Soda,77,7,9.0,both,Normal days,Average orders,Average orders
6,1,1,2398795,1,prior,2,3,7,15.0,False,...,10243,10258,Pistachios,117,19,3.0,both,Normal days,Average orders,Average orders
7,1,1,2398795,1,prior,2,3,7,15.0,False,...,12412,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders
8,1,1,2398795,1,prior,2,3,7,15.0,False,...,13161,13176,Bag of Organic Bananas,24,4,10.3,both,Normal days,Average orders,Average orders
9,1,1,2398795,1,prior,2,3,7,15.0,False,...,26073,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders

# 2. Grouping Data with Pandas

In [31]:
# Grouping data with pandas.
ords_prods_merge.groupby('product_name')

# 3. Aggregating Data

In [32]:
# Subset aggregation.
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                14.800024
2                17.091743
3                17.913544
4                17.893092
5                15.214270
6                15.382135
7                17.694027
8                16.458105
9                15.957363
10               20.091818
11               16.482026
12               15.615061
13               16.484023
14               17.524632
15               15.691875
16               18.014071
17               16.150593
18               19.602850
19               17.631340
20               17.138607
21               21.956893

In [33]:
# Entire dataframe aggregation.
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

# 3. The overall trends in the mean, min, and max values might change when you analyze subsets. 
Overall Trends:
The entire dataframe generally shows higher mean order numbers across departments, suggesting that it encompasses a broader spectrum of customer behaviors compared to the subset.

Notable Differences:
Department 21 exhibits the highest mean in both datasets, with a higher value in the subset (25.53) compared to the entire dataframe (22.90). Additionally, Department 10 shows a significant increase in the entire dataframe (20.19) compared to the subset (18.68).

Consistent Departments:
Some departments, such as 13 and 17, exhibit minimal differences between the two datasets. However, other departments, including 3, 9, and 12, display more pronounced variations.

Conclusion:
Overall, the entire dataframe reveals more frequent and diverse ordering patterns across departments when compared to the subset.

# 4. Aggregating Data with Transform

In [34]:
 # Create max_order column.
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/95/tcwc05191szglpgs3jtdf6tm0000gn/T/ipykernel_9521/2964966201.py:2: FutureWarning: The provided callable <function max at 0x106bbb560> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [35]:
ords_prods_merge.drop(columns = ['eval_set'], inplace = True)

In [36]:
ords_prods_merge.head(15)

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day,busiest_period_of_days,max_order
0,0,0,2539329,1,1,2,8,NaN,True,196,...,195,Soda,77,7,9.0,both,Normal days,Average orders,Average orders,10
1,0,0,2539329,1,1,2,8,NaN,True,14084,...,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Normal days,Average orders,Average orders,10
2,0,0,2539329,1,1,2,8,NaN,True,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders,10
3,0,0,2539329,1,1,2,8,NaN,True,26088,...,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders,10
4,0,0,2539329,1,1,2,8,NaN,True,26405,...,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Normal days,Average orders,Average orders,10
5,1,1,2398795,1,2,3,7,15.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Average orders,Average orders,10
6,1,1,2398795,1,2,3,7,15.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Average orders,Average orders,10
7,1,1,2398795,1,2,3,7,15.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders,10
8,1,1,2398795,1,2,3,7,15.0,False,13176,...,13176,Bag of Organic Bananas,24,4,10.3,both,Normal days,Average orders,Average orders,10
9,1,1,2398795,1,2,3,7,15.0,False,26088,...,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders,10
10,1,1,2398795,1,2,3,7,15.0,False,13032,...,13032,Cinnamon Toast Crunch,121,14,4.0,both,Normal days,Average orders,Average orders,10
11,2,2,473747,1,3,3,12,21.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Most orders,Most orders,10
12,2,2,473747,1,3,3,12,21.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Most orders,Most orders,10
13,2,2,473747,1,3,3,12,21.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Most orders,Most orders,10
14,2,2,473747,1,3,3,12,21.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Normal days,Most orders,Most orders,10

In [37]:
ords_prods_merge.head(100)

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day,busiest_period_of_days,max_order
0,0,0,2539329,1,1,2,8,NaN,True,196,...,195,Soda,77,7,9.0,both,Normal days,Average orders,Average orders,10
1,0,0,2539329,1,1,2,8,NaN,True,14084,...,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Normal days,Average orders,Average orders,10
2,0,0,2539329,1,1,2,8,NaN,True,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders,10
3,0,0,2539329,1,1,2,8,NaN,True,26088,...,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders,10
4,0,0,2539329,1,1,2,8,NaN,True,26405,...,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Normal days,Average orders,Average orders,10
5,1,1,2398795,1,2,3,7,15.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Average orders,Average orders,10
6,1,1,2398795,1,2,3,7,15.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Average orders,Average orders,10
7,1,1,2398795,1,2,3,7,15.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders,10
8,1,1,2398795,1,2,3,7,15.0,False,13176,...,13176,Bag of Organic Bananas,24,4,10.3,both,Normal days,Average orders,Average orders,10
9,1,1,2398795,1,2,3,7,15.0,False,26088,...,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders,10
10,1,1,2398795,1,2,3,7,15.0,False,13032,...,13032,Cinnamon Toast Crunch,121,14,4.0,both,Normal days,Average orders,Average orders,10
11,2,2,473747,1,3,3,12,21.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Most orders,Most orders,10
12,2,2,473747,1,3,3,12,21.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Most orders,Most orders,10
13,2,2,473747,1,3,3,12,21.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Most orders,Most orders,10
14,2,2,473747,1,3,3,12,21.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Normal days,Most orders,Most orders,10
15,2,2,473747,1,3,3,12,21.0,False,30450,...,30452,Creamy Almond Butter,88,13,3.2,both,Normal days,Most orders,Most orders,10
16,3,3,2254736,1,4,4,7,29.0,False,196,...,195,Soda,77,7,9.0,both,Slowest days,Average orders,Average orders,10
17,3,3,2254736,1,4,4,7,29.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Slowest days,Average orders,Average orders,10
18,3,3,2254736,1,4,4,7,29.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Slowest days,Average orders,Average orders,10
19,3,3,2254736,1,4,4,7,29.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Slowest days,Average orders,Average orders,10
20,3,3,2254736,1,4,4,7,29.0,False,26405,...,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Slowest days,Average orders,Average orders,10
21,4,4,431534,1,5,4,15,28.0,False,196,...,195,Soda,77,7,9.0,both,Slowest days,Most orders,Most orders,10
22,4,4,431534,1,5,4,15,28.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Slowest days,Most orders,Most orders,10
23,4,4,431534,1,5,4,15,28.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Slowest days,Most orders,Most orders,10
24,4,4,431534,1,5,4,15,28.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Slowest days,Most orders,Most orders,10
25,4,4,431534,1,5,4,15,28.0,False,10326,...,10326,Organic Fuji Apples,24,4,2.7,both,Slowest days,Most orders,Most orders,10
26,4,4,431534,1,5,4,15,28.0,False,17122,...,17122,Honeycrisp Apples,24,4,14.0,both,Slowest days,Most orders,Most orders,10
27,4,4,431534,1,5,4,15,28.0,False,41787,...,41791,Bartlett Pears,24,4,5.0,both,Slowest days,Most orders,Most orders,10
28,4,4,431534,1,5,4,15,28.0,False,13176,...,13176,Bag of Organic Bananas,24,4,10.3,both,Slowest days,Most orders,Most orders,10
29,5,5,3367565,1,6,2,7,19.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Average orders,Average orders,10
30,5,5,3367565,1,6,2,7,19.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders,10
31,5,5,3367565,1,6,2,7,19.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Average orders,Average orders,10
32,5,5,3367565,1,6,2,7,19.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Normal days,Average orders,Average orders,10
33,6,6,550135,1,7,1,9,20.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Most orders,Most orders,10
34,6,6,550135,1,7,1,9,20.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Most orders,Most orders,10
35,6,6,550135,1,7,1,9,20.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Most orders,Most orders,10
36,6,6,550135,1,7,1,9,20.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Normal days,Most orders,Most orders,10
37,6,6,550135,1,7,1,9,20.0,False,13032,...,13032,Cinnamon Toast Crunch,121,14,4.0,both,Normal days,Most orders,Most orders,10
38,7,7,3108588,1,8,1,14,14.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Most orders,Most orders,10
39,7,7,3108588,1,8,1,14,14.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Most orders,Most orders,10
40,7,7,3108588,1,8,1,14,14.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Most orders,Most orders,10
41,7,7,3108588,1,8,1,14,14.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Normal days,Most orders,Most orders,10
42,7,7,3108588,1,8,1,14,14.0,False,46149,...,46153,Zero Calorie Cola,77,7,13.4,both,Normal days,Most orders,Most orders,10
43,7,7,3108588,1,8,1,14,14.0,False,49235,...,49239,Organic Half & Half,53,16,1.8,both,Normal days,Most orders,Most orders,10
44,8,8,2295261,1,9,1,16,0.0,False,49235,...,49239,Organic Half & Half,53,16,1.8,both,Normal days,Most orders,Most orders,10
45,8,8,2295261,1,9,1,16,0.0,False,46149,...,46153,Zero Calorie Cola,77,7,13.4,both,Normal days,Most orders,Most orders,10
46,8,8,2295261,1,9,1,16,0.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Normal days,Most orders,Most orders,10
47,8,8,2295261,1,9,1,16,0.0,False,196,...,195,Soda,77,7,9.0,both,Normal days,Most orders,Most orders,10
48,8,8,2295261,1,9,1,16,0.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Normal days,Most orders,Most orders,10
49,8,8,2295261,1,9,1,16,0.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Normal days,Most orders,Most orders,10
50,9,9,2550362,1,10,4,8,30.0,False,196,...,195,Soda,77,7,9.0,both,Slowest days,Average orders,Average orders,10
51,9,9,2550362,1,10,4,8,30.0,False,46149,...,46153,Zero Calorie Cola,77,7,13.4,both,Slowest days,Average orders,Average orders,10
52,9,9,2550362,1,10,4,8,30.0,False,39657,...,39661,Milk Chocolate Almonds,45,19,6.8,both,Slowest days,Average orders,Average orders,10
53,9,9,2550362,1,10,4,8,30.0,False,38928,...,38932,0% Greek Strained Yogurt,120,16,12.6,both,Slowest days,Average orders,Average orders,10
54,9,9,2550362,1,10,4,8,30.0,False,25133,...,25134,Organic String Cheese,21,16,8.6,both,Slowest days,Average orders,Average orders,10
55,9,9,2550362,1,10,4,8,30.0,False,10258,...,10258,Pistachios,117,19,3.0,both,Slowest days,Average orders,Average orders,10
56,9,9,2550362,1,10,4,8,30.0,False,35951,...,35955,Organic Unsweetened Almond Milk,91,16,1.3,both,Slowest days,Average orders,Average orders,10
57,9,9,2550362,1,10,4,8,30.0,False,13032,...,13032,Cinnamon Toast Crunch,121,14,4.0,both,Slowest days,Average orders,Average orders,10
58,9,9,2550362,1,10,4,8,30.0,False,12427,...,12427,Original Beef Jerky,23,19,4.4,both,Slowest days,Average orders,Average orders,10
59,11,11,2168274,2,1,2,11,NaN,True,32792,...,32794,Chipotle Beef & Pork Realstick,23,19,5.2,both,Normal days,Most orders,Most orders,14
60,11,11,2168274,2,1,2,11,NaN,True,47766,...,47770,Organic Avocado,24,4,6.3,both,Normal days,Most orders,Most orders,14
61,11,11,2168274,2,1,2,11,NaN,True,20574,...,20575,Roasted Turkey,96,20,2.3,both,Normal days,Most orders,Most orders,14
62,11,11,2168274,2,1,2,11,NaN,True,12000,...,12000,Baked Organic Sea Salt Crunchy Pea Snack,72,13,10.9,both,Normal days,Most orders,Most orders,14
63,11,11,2168274,2,1,2,11,NaN,True,48110,...,48114,Thin Stackers Brown Rice Lightly Salted,78,19,2.7,both,Normal days,Most orders,Most orders,14
64,11,11,2168274,2,1,2,11,NaN,True,22474,...,22475,Cheddar Bunnies Snack Crackers,78,19,4.1,both,Normal days,Most orders,Most orders,14
65,11,11,2168274,2,1,2,11,NaN,True,16589,...,16589,Plantain Chips,107,19,5.0,both,Normal days,Most orders,Most orders,14
66,11,11,2168274,2,1,2,11,NaN,True,35917,...,35921,Organic Just Concord Grape Juice,98,7,9.4,both,Normal days,Most orders,Most orders,14
67,11,11,2168274,2,1,2,11,NaN,True,27344,...,27346,Uncured Genoa Salami,96,20,14.8,both,Normal days,Most orders,Most orders,14
68,11,11,2168274,2,1,2,11,NaN,True,30489,...,30491,Original Hummus,67,20,7.5,both,Normal days,Most orders,Most orders,14
69,11,11,2168274,2,1,2,11,NaN,True,27966,...,27968,Organic Raspberries,123,4,4.4,both,Normal days,Most orders,Most orders,14
70,11,11,2168274,2,1,2,11,NaN,True,13176,...,13176,Bag of Organic Bananas,24,4,10.3,both,Normal days,Most orders,Most orders,14
71,11,11,2168274,2,1,2,11,NaN,True,45066,...,45070,Honeycrisp Apple,24,4,2.5,both,Normal days,Most orders,Most orders,14
72,12,12,1501582,2,2,5,10,10.0,False,16797,...,16797,Strawberries,24,4,1.3,both,Normal days,Most orders,Most orders,14
73,12,12,1501582,2,2,5,10,10.0,False,47526,...,47530,Goat Cheese Log,21,16,2.0,both,Normal days,Most orders,Most orders,14
74,12,12,1501582,2,2,5,10,10.0,False,8479,...,8479,Original Black Box Tablewater Cracker,78,19,3.5,both,Normal days,Most orders,Most orders,14
75,12,12,1501582,2,2,5,10,10.0,False,47766,...,47770,Organic Avocado,24,4,6.3,both,Normal days,Most orders,Most orders,14
76,12,12,1501582,2,2,5,10,10.0,False,19051,...,19052,"Pita Chips, Simply Naked, Party Size",107,19,3.9,both,Normal days,Most orders,Most orders,14
77,12,12,1501582,2,2,5,10,10.0,False,8138,...,8138,Traditional Hummus,67,20,2.0,both,Normal days,Most orders,Most orders,14
78,13,13,1901567,2,3,1,10,3.0,False,47766,...,47770,Organic Avocado,24,4,6.3,both,Normal days,Most orders,Most orders,14
79,13,13,1901567,2,3,1,10,3.0,False,32792,...,32794,Chipotle Beef & Pork Realstick,23,19,5.2,both,Normal days,Most orders,Most orders,14
80,13,13,1901567,2,3,1,10,3.0,False,20574,...,20575,Roasted Turkey,96,20,2.3,both,Normal days,Most orders,Most orders,14
81,13,13,1901567,2,3,1,10,3.0,False,7781,...,7781,Organic Sticks Low Moisture Part Skim Mozzarel...,21,16,6.6,both,Normal days,Most orders,Most orders,14
82,13,13,1901567,2,3,1,10,3.0,False,28874,...,28876,Carrot Ginger Soup,1,20,6.2,both,Normal days,Most orders,Most orders,14
83,14,14,738281,2,4,2,10,8.0,False,49451,...,49455,Artichoke Spinach Dip,67,20,7.1,both,Normal days,Most orders,Most orders,14
84,14,14,738281,2,4,2,10,8.0,False,32792,...,32794,Chipotle Beef & Pork Realstick,23,19,5.2,both,Normal days,Most orders,Most orders,14
85,14,14,738281,2,4,2,10,8.0,False,32139,...,32141,Hommus Classic Original,67,20,7.5,both,Normal days,Most orders,Most orders,14
86,14,14,738281,2,4,2,10,8.0,False,34688,...,34690,Good Belly Probiotics Juice Drink Blueberry Ac...,31,7,5.8,both,Normal days,Most orders,Most orders,14
87,14,14,738281,2,4,2,10,8.0,False,36735,...,36739,Organic Roasted Sliced Chicken Breast,96,20,8.9,both,Normal days,Most orders,Most orders,14
88,14,14,738281,2,4,2,10,8.0,False,37646,...,37650,Organic Gala Apples,24,4,9.1,both,Normal days,Most orders,Most orders,14
89,14,14,738281,2,4,2,10,8.0,False,22829,...,22830,Multigrain Flax Seeded Flatbread Crackers,78,19,5.5,both,Normal days,Most orders,Most orders,14
90,14,14,738281,2,4,2,10,8.0,False,24852,...,24853,Banana,24,4,12.3,both,Normal days,Most orders,Most orders,14
91,14,14,738281,2,4,2,10,8.0,False,47209,...,47213,Organic Hass Avocado,24,4,4.0,both,Normal days,Most orders,Most orders,14
92,14,14,738281,2,4,2,10,8.0,False,33276,...,33278,Kalamata Olive Spread,67,20,10.8,both,Normal days,Most orders,Most orders,14
93,14,14,738281,2,4,2,10,8.0,False,45613,...,45617,Pad Thai,38,1,12.6,both,Normal days,Most orders,Most orders,14
94,14,14,738281,2,4,2,10,8.0,False,9681,...,9681,Chicken Tikka Masala with Cumin Infused Basmat...,38,1,2.0,both,Normal days,Most orders,Most orders,14
95,14,14,738281,2,4,2,10,8.0,False,21150,...,21151,Fire Grilled Steak Bowl,38,1,5.9,both,Normal days,Most orders,Most orders,14
96,15,15,1673511,2,5,3,11,8.0,False,47144,...,47148,Unsweetened Original Almond Breeze Almond Milk,91,16,14.0,both,Normal days,Most orders,Most orders,14
97,15,15,1673511,2,5,3,11,8.0,False,5322,...,5322,Gluten Free Dark Chocolate Chunk Chewy with a ...,3,19,2.9,both,Normal days,Most orders,Most orders,14
98,15,15,1673511,2,5,3,11,8.0,False,17224,...,17224,Oats & Honey Gluten Free Granola,3,19,1.6,both,Normal days,Most orders,Most orders,14
99,15,15,1673511,2,5,3,11,8.0,False,38656,...,38660,Gluten Free Peanut Butter Dark Chocolate Chewy...,3,19,3.4,both,Normal days,Most orders,Most orders,14

In [38]:
pd.options.display.max_rows = None

# 5. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [42]:
# Create a loyalt_flay using loc function.
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [43]:
# Frequency of each distinct row in the Dataframe.
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [45]:
# Checking the Updated Output.
ords_prods_merge.head(15)

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,product_name,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day,busiest_period_of_days,max_order,loyalty_flag
0,0,0,2539329,1,1,2,8,NaN,True,196,...,Soda,77,7,9.0,both,Normal days,Average orders,Average orders,10,New customer
1,0,0,2539329,1,1,2,8,NaN,True,14084,...,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Normal days,Average orders,Average orders,10,New customer
2,0,0,2539329,1,1,2,8,NaN,True,12427,...,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders,10,New customer
3,0,0,2539329,1,1,2,8,NaN,True,26088,...,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders,10,New customer
4,0,0,2539329,1,1,2,8,NaN,True,26405,...,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Normal days,Average orders,Average orders,10,New customer
5,1,1,2398795,1,2,3,7,15.0,False,196,...,Soda,77,7,9.0,both,Normal days,Average orders,Average orders,10,New customer
6,1,1,2398795,1,2,3,7,15.0,False,10258,...,Pistachios,117,19,3.0,both,Normal days,Average orders,Average orders,10,New customer
7,1,1,2398795,1,2,3,7,15.0,False,12427,...,Original Beef Jerky,23,19,4.4,both,Normal days,Average orders,Average orders,10,New customer
8,1,1,2398795,1,2,3,7,15.0,False,13176,...,Bag of Organic Bananas,24,4,10.3,both,Normal days,Average orders,Average orders,10,New customer
9,1,1,2398795,1,2,3,7,15.0,False,26088,...,Aged White Cheddar Popcorn,23,19,4.7,both,Normal days,Average orders,Average orders,10,New customer
10,1,1,2398795,1,2,3,7,15.0,False,13032,...,Cinnamon Toast Crunch,121,14,4.0,both,Normal days,Average orders,Average orders,10,New customer
11,2,2,473747,1,3,3,12,21.0,False,196,...,Soda,77,7,9.0,both,Normal days,Most orders,Most orders,10,New customer
12,2,2,473747,1,3,3,12,21.0,False,12427,...,Original Beef Jerky,23,19,4.4,both,Normal days,Most orders,Most orders,10,New customer
13,2,2,473747,1,3,3,12,21.0,False,10258,...,Pistachios,117,19,3.0,both,Normal days,Most orders,Most orders,10,New customer
14,2,2,473747,1,3,3,12,21.0,False,25133,...,Organic String Cheese,21,16,8.6,both,Normal days,Most orders,Most orders,10,New customer

# Analysis of Spending Habits by Loyalty Category

In [47]:
# Basic Statistics of Spending Habits by Loyalty Category.
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer     9.579346  1.0  14900.0
New customer      10.059889  1.0  14900.0
Regular customer   9.894698  1.0  14900.0

# 6. Create a spending flag for each user based on the average price across all their orders.

In [49]:
# Create a new column for the average spending of a customer
ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform('mean')

In [50]:
# Check the new column
ords_prods_merge.head(20)

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,aisle_id,department_id,prices,match,busiest_days,busiest_period_of_day,busiest_period_of_days,max_order,loyalty_flag,average_spend
0,0,0,2539329,1,1,2,8,NaN,True,196,...,77,7,9.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797
1,0,0,2539329,1,1,2,8,NaN,True,14084,...,91,16,12.5,both,Normal days,Average orders,Average orders,10,New customer,6.367797
2,0,0,2539329,1,1,2,8,NaN,True,12427,...,23,19,4.4,both,Normal days,Average orders,Average orders,10,New customer,6.367797
3,0,0,2539329,1,1,2,8,NaN,True,26088,...,23,19,4.7,both,Normal days,Average orders,Average orders,10,New customer,6.367797
4,0,0,2539329,1,1,2,8,NaN,True,26405,...,54,17,1.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797
5,1,1,2398795,1,2,3,7,15.0,False,196,...,77,7,9.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797
6,1,1,2398795,1,2,3,7,15.0,False,10258,...,117,19,3.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797
7,1,1,2398795,1,2,3,7,15.0,False,12427,...,23,19,4.4,both,Normal days,Average orders,Average orders,10,New customer,6.367797
8,1,1,2398795,1,2,3,7,15.0,False,13176,...,24,4,10.3,both,Normal days,Average orders,Average orders,10,New customer,6.367797
9,1,1,2398795,1,2,3,7,15.0,False,26088,...,23,19,4.7,both,Normal days,Average orders,Average orders,10,New customer,6.367797
10,1,1,2398795,1,2,3,7,15.0,False,13032,...,121,14,4.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797
11,2,2,473747,1,3,3,12,21.0,False,196,...,77,7,9.0,both,Normal days,Most orders,Most orders,10,New customer,6.367797
12,2,2,473747,1,3,3,12,21.0,False,12427,...,23,19,4.4,both,Normal days,Most orders,Most orders,10,New customer,6.367797
13,2,2,473747,1,3,3,12,21.0,False,10258,...,117,19,3.0,both,Normal days,Most orders,Most orders,10,New customer,6.367797
14,2,2,473747,1,3,3,12,21.0,False,25133,...,21,16,8.6,both,Normal days,Most orders,Most orders,10,New customer,6.367797
15,2,2,473747,1,3,3,12,21.0,False,30450,...,88,13,3.2,both,Normal days,Most orders,Most orders,10,New customer,6.367797
16,3,3,2254736,1,4,4,7,29.0,False,196,...,77,7,9.0,both,Slowest days,Average orders,Average orders,10,New customer,6.367797
17,3,3,2254736,1,4,4,7,29.0,False,12427,...,23,19,4.4,both,Slowest days,Average orders,Average orders,10,New customer,6.367797
18,3,3,2254736,1,4,4,7,29.0,False,10258,...,117,19,3.0,both,Slowest days,Average orders,Average orders,10,New customer,6.367797
19,3,3,2254736,1,4,4,7,29.0,False,25133,...,21,16,8.6,both,Slowest days,Average orders,Average orders,10,New customer,6.367797

In [51]:
# Assign spender tag to each customer
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='low_spender'

In [52]:
ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'high_spender'

In [53]:
# Check spender flags
ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
low_spender     31828060
high_spender      576799
Name: count, dtype: int64

# 7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [55]:
# Create a new column for customer frequency flags based on the median values from 'days_since_prior_order' column
ords_prods_merge['customer_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [56]:
ords_prods_merge.head(20)

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,...,prices,match,busiest_days,busiest_period_of_day,busiest_period_of_days,max_order,loyalty_flag,average_spend,spender_flag,customer_frequency
0,0,0,2539329,1,1,2,8,NaN,True,196,...,9.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
1,0,0,2539329,1,1,2,8,NaN,True,14084,...,12.5,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
2,0,0,2539329,1,1,2,8,NaN,True,12427,...,4.4,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
3,0,0,2539329,1,1,2,8,NaN,True,26088,...,4.7,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
4,0,0,2539329,1,1,2,8,NaN,True,26405,...,1.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
5,1,1,2398795,1,2,3,7,15.0,False,196,...,9.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
6,1,1,2398795,1,2,3,7,15.0,False,10258,...,3.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
7,1,1,2398795,1,2,3,7,15.0,False,12427,...,4.4,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
8,1,1,2398795,1,2,3,7,15.0,False,13176,...,10.3,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
9,1,1,2398795,1,2,3,7,15.0,False,26088,...,4.7,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
10,1,1,2398795,1,2,3,7,15.0,False,13032,...,4.0,both,Normal days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
11,2,2,473747,1,3,3,12,21.0,False,196,...,9.0,both,Normal days,Most orders,Most orders,10,New customer,6.367797,low_spender,20.5
12,2,2,473747,1,3,3,12,21.0,False,12427,...,4.4,both,Normal days,Most orders,Most orders,10,New customer,6.367797,low_spender,20.5
13,2,2,473747,1,3,3,12,21.0,False,10258,...,3.0,both,Normal days,Most orders,Most orders,10,New customer,6.367797,low_spender,20.5
14,2,2,473747,1,3,3,12,21.0,False,25133,...,8.6,both,Normal days,Most orders,Most orders,10,New customer,6.367797,low_spender,20.5
15,2,2,473747,1,3,3,12,21.0,False,30450,...,3.2,both,Normal days,Most orders,Most orders,10,New customer,6.367797,low_spender,20.5
16,3,3,2254736,1,4,4,7,29.0,False,196,...,9.0,both,Slowest days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
17,3,3,2254736,1,4,4,7,29.0,False,12427,...,4.4,both,Slowest days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
18,3,3,2254736,1,4,4,7,29.0,False,10258,...,3.0,both,Slowest days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5
19,3,3,2254736,1,4,4,7,29.0,False,25133,...,8.6,both,Slowest days,Average orders,Average orders,10,New customer,6.367797,low_spender,20.5

In [57]:
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['customer_frequency'] > 10) & (ords_prods_merge['customer_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [58]:
# Check value counts for new column
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

In [59]:
ords_prods_merge[['user_id', 'customer_frequency', 'frequency_flag']].head(60)

    user_id  customer_frequency         frequency_flag
0         1                20.5  Non-frequent customer
1         1                20.5  Non-frequent customer
2         1                20.5  Non-frequent customer
3         1                20.5  Non-frequent customer
4         1                20.5  Non-frequent customer
5         1                20.5  Non-frequent customer
6         1                20.5  Non-frequent customer
7         1                20.5  Non-frequent customer
8         1                20.5  Non-frequent customer
9         1                20.5  Non-frequent customer
10        1                20.5  Non-frequent customer
11        1                20.5  Non-frequent customer
12        1                20.5  Non-frequent customer
13        1                20.5  Non-frequent customer
14        1                20.5  Non-frequent customer
15        1                20.5  Non-frequent customer
16        1                20.5  Non-frequent customer
17        1                20.5  Non-frequent customer
18        1                20.5  Non-frequent customer
19        1                20.5  Non-frequent customer
20        1                20.5  Non-frequent customer
21        1                20.5  Non-frequent customer
22        1                20.5  Non-frequent customer
23        1                20.5  Non-frequent customer
24        1                20.5  Non-frequent customer
25        1                20.5  Non-frequent customer
26        1                20.5  Non-frequent customer
27        1                20.5  Non-frequent customer
28        1                20.5  Non-frequent customer
29        1                20.5  Non-frequent customer
30        1                20.5  Non-frequent customer
31        1                20.5  Non-frequent customer
32        1                20.5  Non-frequent customer
33        1                20.5  Non-frequent customer
34        1                20.5  Non-frequent customer
35        1                20.5  Non-frequent customer
36        1                20.5  Non-frequent customer
37        1                20.5  Non-frequent customer
38        1                20.5  Non-frequent customer
39        1                20.5  Non-frequent customer
40        1                20.5  Non-frequent customer
41        1                20.5  Non-frequent customer
42        1                20.5  Non-frequent customer
43        1                20.5  Non-frequent customer
44        1                20.5  Non-frequent customer
45        1                20.5  Non-frequent customer
46        1                20.5  Non-frequent customer
47        1                20.5  Non-frequent customer
48        1                20.5  Non-frequent customer
49        1                20.5  Non-frequent customer
50        1                20.5  Non-frequent customer
51        1                20.5  Non-frequent customer
52        1                20.5  Non-frequent customer
53        1                20.5  Non-frequent customer
54        1                20.5  Non-frequent customer
55        1                20.5  Non-frequent customer
56        1                20.5  Non-frequent customer
57        1                20.5  Non-frequent customer
58        1                20.5  Non-frequent customer
59        2                13.0       Regular customer

In [60]:
# Export dataframe with newly derived columns.
ords_prods_merge.to_pickle(os.path.join(path1, 'ords_prods_new_merged_derived.pkl'))